* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(53, 50, 50);
    overflow: hidden;
    line-height: 60px;
    height: 60px;
    color: #fff;
}

header h1 {
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
}

header nav {
    width: 50%;
    float: right;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

header nav a {
    padding: 0px 20px;
    display: block;
    width: 30%;
    float: left;
    text-decoration: none;
    color: inherit;
}

header nav a:hover {
    color: #00f;
}

header div {
    visibility: hidden;
}

form {
    margin-top: 20px
}

.search {
    position: relative;
    width: 30%;
    margin: auto
}

.search input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    outline: none;
    color: rgb(0, 27, 43);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    text-indent: 30px;
    text-overflow: hidden;
    position:
}

.search input:focus {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

form i {
    position: absolute;
    left: 15px;
    bottom: 12px;
    opacity: .5
}

table {
    background-color: #eee;
    margin: 30px auto;
    width: 50%;
    border-spacing: 0px;
    text-align: center;
}

table td {
    padding: 10px;
    background-color: #f9e5e5;
    /*border: 1px solid #d3c2c2;*/
    border-top: 1px solid #d3c2c2;
    border-bottom: 1px solid #d3c2c2;
}

table thead td {
    background-color: #00f;
    font-weight: bold;
}

@media (max-width: 768px) {
    header {
        position: relative;
    }
    header h1 {
        width: 50%;
        text-align: left;
        padding-left: 10px;
    }
    header nav {
        visibility: hidden;
    }
    header i {
        float: right;
        line-height: 60px;
        visibility: visible;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 3px;
        text-align: center;
    }
    .option-bar {
        visibility: visible;
        width: 100px;
    }
    .search {
        width: 50%;
    }
}